In [48]:
import numpy as np
import pandas as pd

Create a Series and assign it to s1a from the integers 8, 6, 7, 5

From a dict, create an integer Series and assign it to s1b with values 8, 6, 7, 5 named s1b and a string index 'a', 'b', 'c', and 'd'

Convert the s1b values to 64-bit floating point values and assign it to s1c

Extract only the values from the s1c as a PandasArray

In [49]:
s1a = pd.Series([8, 6, 7, 5])
s1b = pd.Series({'a': 8, 'b': 6, 'c': 7, 'd': 5})

s1c = s1b.astype(np.float64)
s1c.array

<NumpyExtensionArray>
[np.float64(8.0), np.float64(6.0), np.float64(7.0), np.float64(5.0)]
Length: 4, dtype: float64

In [50]:
s1c.to_numpy()

array([8., 6., 7., 5.])

Exercise:

Select the first element of s2 using integer based lookup (iloc).

Select the first element of the s2 using label indexing (loc).

Select all elements greater than 6 in s2 using a boolean Series

In [51]:
s2 = pd.Series([6, 8, 7, 5], index=list('abcd'), dtype='Int64')
print(s2.iloc[0])

6

In [52]:
print(s2.loc['a'])

6

In [53]:
s2.loc[s2 > 6]

b    8
c    7
dtype: Int64

select all non-null values

In [54]:
s3 = pd.Series([9., 100., np.nan, 8., 0.], index=list('ayzed'), dtype='Int64')

In [55]:
s3[s3.notnull()]

a      9
y    100
e      8
d      0
dtype: Int64

In [56]:
s2 + s3

a      15
b    <NA>
c    <NA>
d       5
e    <NA>
y    <NA>
z    <NA>
dtype: Int64

Exercise:

    Select the first element of s2 using integer based lookup (iloc).

    Select the first element of the s2 using label indexing (loc).

    Select all elements greater than 6 in s2 using a boolean Series

In [57]:
import numpy as np
import pandas as pd

from IPython.display import Image

pd.set_option('display.precision', 2)

def image(name, **kwargs):
    return Image(filename=f'assets/{name}', retina=True, **kwargs)

In [58]:
%%html

<style>
.output_png {
    display: flex;
    justify-content: left;
}
</style>