In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    'ticker': ['AAPL', 'AAPL', 'MSFT', 'IBM', 'YHOO'],
    'date': ['2015-12-30', '2015-12-31', '2015-12-30', '2015-12-30', '2015-12-30'],
    'open': [426.23, 427.81, 42.3, 101.65, 35.53]
})
print(df)

  ticker        date    open
0   AAPL  2015-12-30  426.23
1   AAPL  2015-12-31  427.81
2   MSFT  2015-12-30   42.30
3    IBM  2015-12-30  101.65
4   YHOO  2015-12-30   35.53

Exercise:

    Select the open column as a Series using attribute lookup
    Select the open column as a Series using dict-style lookup
    Select the date column as a DataFrame

In [ ]:
print(df.open) #attribute style
print(df['open'])  # dict stlye
print(df[['open']]) #dataframe

Exercise:

    Select all rows with the AAPL ticker and the date and open columns.
    Assign to the variable df1 a new DataFrame with ticker as the index.
    Assign to the variable df2 a new DataFrame with date as the index. Create this DataFrame from df1 with a single statement.
    Sort df2 by the index values.

In [15]:
result = df.loc[df.ticker == 'AAPL', ['date', 'open']]
# print(result)
df1 = df.set_index('ticker')
# print(df1)
df2 = df.reset_index().set_index('date')
# print(df2)
df2.sort_index()

            index ticker    open
date
2015-12-30      0   AAPL  426.23
2015-12-30      2   MSFT   42.30
2015-12-30      3    IBM  101.65
2015-12-30      4   YHOO   35.53
2015-12-31      1   AAPL  427.81

Exercise:

    Create a copy of df called df3. Add a new column of NaNs to df3 called close. Assign close the same value as open for all open values greater than 100.
    Sort df3 by its close values.

In [21]:
df3 = df.copy()
df3['close'] = np.nan
# print(df3)

df3.close = df3.open[df3.open > 100]
print(df3)

  ticker        date    open   close
0   AAPL  2015-12-30  426.23  426.23
1   AAPL  2015-12-31  427.81  427.81
2   MSFT  2015-12-30   42.30     NaN
3    IBM  2015-12-30  101.65  101.65
4   YHOO  2015-12-30   35.53     NaN