In [29]:
import datetime as dt

import numpy as np
import pandas as pd

pd.set_option('display.precision', 2)

In [30]:
sp5_df = pd.read_csv(
    'data/sp500.csv', usecols=['date', 'adj_close'],
    parse_dates=['date']
)

<h5>Exercise:

Create a pandas Timestamp for January 1st, 1993 16:00 (don't worry about timezone).</h5>

In [31]:
pd.Timestamp('1993-01-01 16:00')

Timestamp('1993-01-01 16:00:00')

<h5>Exercise:

Generate a an Index of:

    5 calendar days starting on January 1, 2010.
    All US business days (weekdays) starting on January 1, 2010 and ending on January 15, 2010.
Hint: You can view the help for a function by running help(function_name), e.g. help(pd.Timestamp). Try looking at the help for pd.date_range.</h5>

In [32]:
pd.date_range('2010-01-01', periods=5, freq='D')

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05'],
              dtype='datetime64[ns]', freq='D')

In [33]:
pd.date_range(start='2010-01-01', end='2010-01-15', freq='B')

DatetimeIndex(['2010-01-01', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14', '2010-01-15'],
              dtype='datetime64[ns]', freq='B')

<h5>Exercise:

    Create a Series named sp5 from the adj_close column sp5_df, using date as the index. Make sure you call sort_index() to make sure the index is sorted.

    Hint: The first two parameters of pd.Series are data and index. When both data and index are Series, the index of data is aligned against the values in Series. You can always force positional alignment by converting a Series to an PandasArray (pd.Series.array)
</h5>

In [34]:
sp5= pd.Series(
    sp5_df.adj_close.array, index=sp5_df.date,
    name='adj_close').sort_index()

sp5

date
1950-01-03      16.66
1950-01-04      16.85
1950-01-05      16.93
1950-01-06      16.98
1950-01-09      17.08
               ...
2016-04-06    2066.66
2016-04-07    2041.91
2016-04-08    2047.60
2016-04-11    2041.99
2016-04-12    2061.72
Name: adj_close, Length: 16676, dtype: float64

<h5>Exercise:<br />

Write 2 different ways to select January 3, 1995 from the sp5 series.<br />

There are more than 2 ways to do this, but you only need 2!</h5>

In [43]:
d1a = sp5['1995-01-03']
d1b = sp5.loc['1995-01-03']
d1c = sp5['19950103']
d1d = sp5[dt.datetime(1995, 1, 3)]
print(d1d)

459.109985

<h5>Exercise:

Select from sp5 all observations for:

March 1995

Year of 1995<h5>

In [45]:
mar_95 = sp5['1995-03']
print(mar_95)

y_95 = sp5['1995']
print(y_95)

date
1995-03-01    485.65
1995-03-02    485.13
1995-03-03    485.42
1995-03-06    485.63
1995-03-07    482.12
1995-03-08    483.14
1995-03-09    483.16
1995-03-10    489.57
1995-03-13    490.05
1995-03-14    492.89
1995-03-15    491.88
1995-03-16    495.41
1995-03-17    495.52
1995-03-20    496.14
1995-03-21    495.07
1995-03-22    495.67
1995-03-23    495.95
1995-03-24    500.97
1995-03-27    503.20
1995-03-28    503.90
1995-03-29    503.12
1995-03-30    502.22
1995-03-31    500.71
Name: adj_close, dtype: float64
date
1995-01-03    459.11
1995-01-04    460.71
1995-01-05    460.34
1995-01-06    460.68
1995-01-09    460.83
               ...
1995-12-22    611.95
1995-12-26    614.30
1995-12-27    614.53
1995-12-28    614.12
1995-12-29    615.93
Name: adj_close, Length: 252, dtype: float64

<h5>Exercise

For sp5:

Calculate the day-over-day percent change in the values and to assign the result to the variable sp5_rtn.

Hint: Use shift</h5>

In [50]:
sp5_rtn = sp5 / sp5.shift(1) - 1
print(sp5_rtn)

sp5.pct_change()

date
1950-01-03         NaN
1950-01-04    1.14e-02
1950-01-05    4.75e-03
1950-01-06    2.95e-03
1950-01-09    5.89e-03
                ...
2016-04-06    1.05e-02
2016-04-07   -1.20e-02
2016-04-08    2.79e-03
2016-04-11   -2.74e-03
2016-04-12    9.66e-03
Name: adj_close, Length: 16676, dtype: float64

date
1950-01-03         NaN
1950-01-04    1.14e-02
1950-01-05    4.75e-03
1950-01-06    2.95e-03
1950-01-09    5.89e-03
                ...
2016-04-06    1.05e-02
2016-04-07   -1.20e-02
2016-04-08    2.79e-03
2016-04-11   -2.74e-03
2016-04-12    9.66e-03
Name: adj_close, Length: 16676, dtype: float64

Exercise

Resample the data from daily to monthly to calculate average day-over-day percent change.

In [54]:
rtn_monthly = sp5_rtn.resample('M').mean()
print(rtn_monthly)

date
1950-01-31    1.18e-03
1950-02-28    5.63e-04
1950-03-31    1.87e-04
1950-04-30    2.02e-03
1950-05-31    2.05e-03
                ...
2015-12-31   -7.39e-04
2016-01-31   -2.63e-03
2016-02-29   -1.42e-04
2016-03-31    2.93e-03
2016-04-30    1.52e-04
Freq: ME, Name: adj_close, Length: 796, dtype: float64

C:\Users\SzabolcsHajnal\AppData\Local\Temp\ipykernel_17380\253305720.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  rtn_monthly = sp5_rtn.resample('M').mean()